@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-open-sans: "Open Sans";
  --btn-text1: Montserrat;

  /* font sizes */
  --btn-text1-size: 14px;
  --font-size-sm: 28px;
  --font-size-base: 78px;

  /* Colors */
  --light-text-color1: #fff;
  --color-purple: #4a2a58;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #edeff0;
  --color-gray-300: #dadada;
  --color-turquoise: #68d3bf;
  --color-black: #000;
  --color-pink-100: #f5a0ae;

  /* Gaps */
  --gap-md: 10px;

  /* Paddings */
  --padding-xs: 10px;
  --padding-sm: 15px;
  --padding-md: 20px;
  --padding-lg: 30px;

  /* border radiuses */
  --br-sm: 5px;
  --br-md: 37px;
}
